<!DOCTYPE html>
<html>
<head>
 <title>To Do</title>
 <meta charset="utf-8" />
</head>
<body class="m-1 p-1">
    <h3 class="bg-dark p-1 text-white">Lista de tarefas de {{getName()}}</h3>

    <div class="my-1">
      <input class="form-control" #ToDoText>
      <div class="form-check form-check-inline" >
        PRIORIDADE: <select #ToDoPrioridade>
          <option value="baixa">Baixa</option>
          <option value="media">Media</option>
          <option value="alta">Alta</option>
        </select>
        DATA: <input type="date" value="data" #ToDoData> 
    
      </div>
      <div>
        <button class="btn btn-dark mt-1 mb-1" (click)="addItem(ToDoText.value,ToDoPrioridade.value,ToDoData.value)"> Adicionar </button>
      </div>
    </div>
    
    <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>DESCRIÇÃO</th>
            <th>STATUS</th>
            <th>FEITO</th>
            <th>DATA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getAlta();let i= index" class='bg-danger'>
            <td> {{i+1}}  </td>
            <td> {{item.action}} </td>
            <td><input type="checkbox" [(ngModel)]="item.done"></td>
            <td [ngSwitch]="item.done">
                <span *ngSwitchCase="true">Yes</span>
                <span *ngSwitchDefault>No</span>
            </td>
            <td>{{item.data}}</td>
          </tr>
          <tr *ngFor="let item of getMedia();let i= index" class='bg-warning'>
              <td> {{i+1}}  </td>
              <td> {{item.action}} </td>
              <td><input type="checkbox" [(ngModel)]="item.done"></td>
              <td [ngSwitch]="item.done">
                  <span *ngSwitchCase="true">Yes</span>
                  <span *ngSwitchDefault>No</span>
              </td>
              <td>{{item.data}}</td>
            </tr>
          <tr *ngFor="let item of getBaixa();let i= index" >
              <td> {{i+1}}  </td>
              <td> {{item.action}} </td>
              <td><input type="checkbox" [(ngModel)]="item.done"></td>
              <td [ngSwitch]="item.done">
                  <span *ngSwitchCase="true">Yes</span>
                  <span *ngSwitchDefault>No</span>
              </td>
              <td>{{item.data}}</td>
            </tr>
          
        </tbody>
    </table>
    
    <h3 class="bg-dark p-1 text-white">Feito</h3>
    
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let item of getItensFeitos();let i= index">
          <td> {{item.action}} </td>
          <td><button type="button" class="btn btn-dark" (click)="corrigirTarefa(item)">Corrigir</button></td>
        </tr>
      </tbody>
    </table>